{% extends "base.njk" %}

{% block content %}
{% include "hero/finance-hero.njk" %}
{% include "finance/leasing-calculator.njk" %}
{% include "finance/partners.njk" %}
{% include "finance/trade-in.njk" %}
{% include "contacts/contact-form.njk" %}
{% endblock %}
