{% extends "base.njk" %}

{% block content %}
{% include "hero/hero.njk" %}
{% include "about/about-section.njk" %}
{% include "about/roi-banner.njk" %}
{% include "about/testimonials.njk" %}
{% include "media/media-section.njk" %}
{% include "faq/faq-section.njk" %}
{% include "about/trust-badges.njk" %}
{% include "projects/project-list.njk" %}
{% include "downloads/downloads.njk" %}
{% include "contacts/contact-form.njk" %}
{% endblock %}
